<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rishikesh.myapplication">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Camera"
            android:parentActivityName=".nodeDisplayActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rishikesh.myapplication.nodeDisplayActivity" />
        </activity>
        <activity android:name=".nodeDisplayActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:label="@string/title_activity_main"/>
        <activity
            android:name=".ImageShow"
            android:parentActivityName=".nodeDisplayActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rishikesh.myapplication.nodeDisplayActivity" />
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- This activity handles "SEND" actions with text data -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>
        <activity
            android:name=".ImageGridView"
            android:label="@string/title_activity_image_grid_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
